# Ignore everything in the project
CodeRebirthUnityProject/*
CodeRebirthUnityProject/Assets/*
CodeRebirthUnityProject/Assets/LethalCompany/*

# Except the Assets/LethalCompany/Mods/plugins directories
!CodeRebirthUnityProject/Assets/
!CodeRebirthUnityProject/DuskReplacementEntitiesDLL
!CodeRebirthUnityProject/Assets/Editor/
!CodeRebirthUnityProject/Assets/LethalCompany/
!CodeRebirthUnityProject/Assets/LethalCompany/Mods/
!CodeRebirthUnityProject/Assets/LethalCompany/Mods/plugins/**
!CodeRebirthUnityProject/Assets/LethalCompany/Mods/plugins/CodeRebirth/Dependencies/DawnLib/**
CodeRebirthUnityProject/Assets/LethalCompany/Mods/plugins/CodeRebirth/main.unity.meta

# Gitignore csproj.user so people use template instead.
Plugin/CodeRebirth.csproj.user.template
Plugin/dlls/Assembly-CSharp.dll
Plugin/CodeRebirth/CodeRebirth.csproj.user
Plugin/CodeRebirthMRAPI/CodeRebirthMRAPI.csproj.user
Plugin/CodeRebirthESKR/CodeRebirthESKR.csproj.user
Plugin/CodeRebirth.sln.DotSettings.user
