# Ignore everything in the project
CodeRebirthUnityProject/*
CodeRebirthUnityProject/Assets/*
CodeRebirthUnityProject/Assets/LethalCompany/*

# Except the Assets/LethalCompany/Mods/plugins directories
!CodeRebirthUnityProject/Assets/
!CodeRebirthUnityProject/Assets/LethalCompany/
!CodeRebirthUnityProject/Assets/LethalCompany/Mods/
!CodeRebirthUnityProject/Assets/LethalCompany/Mods/plugins/**
CodeRebirthUnityProject/Assets/LethalCompany/Mods/plugins/CodeRebirth/main.unity.meta

# Gitignore csproj.user so people use template instead.
Plugin/CodeRebirth.csproj.user
Plugin/CodeRebirth.csproj.user.template
